@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/Montserrat/montserrat-latin-400-normal.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/montserrat-latin-400-normal.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/Montserrat/montserrat-latin-400-italic.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/montserrat-latin-400-italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/montserrat-latin-600-normal.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../assets/fonts/Montserrat/montserrat-latin-600-normal.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/Montserrat/montserrat-latin-900-normal.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/montserrat-latin-900-normal.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/Montserrat/montserrat-latin-900-italic.woff2")
      format("woff2"),
    url("../assets/fonts/Montserrat/montserrat-latin-900-italic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
